.display {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
    padding: 1rem 2rem;
}

.games {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    gap: 1rem;
}
