.display {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    color: #fff;
    padding: 1rem 2rem;
    height: 200vh;
    flex-grow: 1;
}

.games {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.games::-webkit-scrollbar {
    width: 0.5em;
}

.games::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.games::-webkit-scrollbar-track {
    background-color: transparent;
}
