.fake {
    width: 16rem;
    min-height: 15rem;
    position: relative;
}

.game-card {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1c1c1c;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    /* position: relative; */
}

.game-card:hover {
    z-index: 2;
    transform: scale(1.05);

    .extra-sec {
        display: flex;
    }

    .content .down-sec {
      .add-btn, .wishlist-btn, .meta-rating {
        display: flex;
      }
    }
}

.game-img {
    flex-grow: 1;
}

.default-image {
    object-fit: cover;
    object-position: center;
    height: 8rem;
}

.all-images {
    display: flex;
    position: relative;
}

.all-images:hover {
    .image-btns {
        display: flex;
    }
}

.image-btns {
    display: none;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.5rem;
    bottom: 0;
    left: 0;
    /* z-index: 1; */
}

.image-key {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 1.5rem;
    height: 100%;

    >div {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }
}

.image-key-active {
    >div {
        background-color: rgba(255, 255, 255, 0.9)  ;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.top-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-sec {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }

.platform {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: max-content;
}

.meta-rating {
    display: none;
    width: max-content;
    font-size: 0.8rem;
    border-radius: 3px;
    padding: 0.3rem;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.1);
}

.name {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 800;
}

.name>a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.switch-icon {
    height: 1rem;
    width: 1rem;
    display: flex;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.rating-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.follow {
    width: max-content;
    padding: 0.3rem;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.follow:hover {
    background-color: #fff;
    color: #000;
}

.add-btn {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #fff;
  .cart-icon {
    filter: invert(0%) !important;
  }
}

.no-content-heading {
    color: #fff;
}

.cart-icon {
    filter: invert(100%);
    width: 1.2rem;
    height: 1rem;
}

.mid-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-btn {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.wishlist-btn:hover {
    background-color: #fff;
    .wishlist-icon {
        filter: invert(0%) !important;
    }
}

.wishlist-icon {
  filter: invert(100%);
  width: 1.2rem;
  height: 1rem;
}

.added {
  background-color: #55a229;
}

.extra-sec {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    font-size: 0.8rem;

    >.released,
    .game-genre {
        display: flex;
        justify-content: space-between;
        width: 100%;

        >span:first-child {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    hr {
        width: 100%;
        border-color: rgba(255, 255, 255, 0.2) !important;
    }
}

.see-more-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 769px) {
    .fake {
        width: 14rem;
        /* min-height: 1rem; */
    }

    .default-image {
        height: 6rem;
    }

    .game-card {
        width: 14rem;
    }

    .name {
        font-size: 1.1rem;
    }

    .meta-rating{
        font-size: 0.6rem;
    }

    .rating {
        width: 1.8rem;
    }

    .follow {
        font-size: 0.6rem;
    }

    .cart-icon, .wishlist-icon {
        width: 1rem;
        height: 0.8rem;
    }

    .image-key {
        width: 1.2rem;
    }
}

@media (max-width: 480px) {
    .fake {
        width: 11rem;
        min-height: 13rem;
    }

    .default-image {
        height: 5rem;
    }

    .game-card {
        width: 11rem;
    }

    .content {
        padding: 0.8rem;
        gap: 0.3rem;
    }

    .rating {
        width: 1.6rem;
    }

    .meta-rating {
      font-size: 0.5rem;
    }

    .follow {
        font-size: 0.5rem;
    }

    .cart-icon, .wishlist-icon {
      width: 0.7rem;
      height: 0.5rem;
    }

    .extra-sec {
        font-size: 0.7rem;
    }

    .see-more-btn {
        padding: 0.4rem 0.8rem;
    }

    .image-key {
        width: 1rem;
    }
}
