.game-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1c1c1c;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game-img {
    flex-grow: 1;
}

/* img {
    height: 100%;
    width: 100%;
} */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.platform {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.name {
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.switch-icon {
    height: 1rem;
    width: 1rem;
    display: flex;
    
}