.genreBtn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.1rem;  
}

.genre-image {
    border-radius: 5px;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    background-size: cover;
}

.genre-title {
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 769px) {
    .genreBtn {
        font-size: 0.9rem;
    }

    .genre-image {
        width: 1.8rem;
    }
}