.navBtn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.1rem;
}

.navBtn-image {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3rem;
    border-radius: 5px;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
}

.navBtn-image:hover {
    background-color: #fff;
    color: #000;
}

.nintendo-icon {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.navBtn:hover .nintendo-icon {
    filter: brightness(0%);
}

.navBtn-title {
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
}

.navBtn:hover .navBtn-image {
    background-color: #fff;
    color: #000;
}