.shimmer {
    display: flex;
    flex-direction: column;
    color: #fff;
    /* padding: 1rem 2rem; */
    height: 200vh;
    flex-grow: 1;
    gap: 2rem;
    overflow: hidden;
}

/* .dummy-heading {
    width: 40vw;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
} */

.dummy-games {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.dummy-games::-webkit-scrollbar {
    width: 0.5em;
}

.dummy-games::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.dummy-games::-webkit-scrollbar-track {
    background-color: transparent;
}

.dummy-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 22rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1c1c1c;
    color: #fff;
}

.dummy-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.dummy-img {
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

.dummy-top, .dummy-mid, .dummy-down {
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

@media (max-width: 769px) {
    .dummy-card {
        width: 15rem;
        height: 18rem;
    }

    .dummy-top, .dummy-mid, .dummy-down {
        height: 1.8rem;
    }
}

@media (max-width: 480px) {
    .dummy-games {
        gap: 1rem;
    }
    
    .dummy-card {
        width: 12rem;
        height: 15rem;
    }

    .dummy-top, .dummy-mid, .dummy-down {
        height: 1.5rem;
    }
}